*{
    text-align: center;
}
h3{
    color:rgb(153,147,142);
    font-size: xx-large;
    padding-bottom:15px
}
table{
    text-align: center;
    width: 100%;
}
input{
    border-radius: 25px;
    font-family: 'Gamja Flower', cursive;
    font-size:medium;
}
td{
    font-size: x-large;
    color: rgb(153,147,142);
    padding:5px;
}
body{
    padding: 100px 350px;
    background-image:linear-gradient(to right,rgb(189,182,176), white);
    font-family: 'Gamja Flower', cursive;
}
div{
    border-radius: 50px;
    padding-top: 50px ;
    background-color: white;
}
#email{
    width: 250px;
    height: 30px;
    border: solid rgb(189,182,176);
}
#sendotp{
    width: 150px;
    height:30px;
    border: solid rgb(189,182,176);
    background-color: rgb(189,182,176);
}
#otp{
    width: 250px;
    height:30px;
    border: solid rgb(189,182,176);
    font-family: 'Gamja Flower', cursive;
    font-size:medium;
}
#verifyotp{
    width: 150px;
    height:30px;
    border: solid rgb(189,182,176);
    background-color: rgb(189,182,176);
}

footer{
    font-size: medium;
    color:rgb(189,182,176);
}
a:link{
    color:rgb(166,160,154);
}
a:hover{
    color: rgb(133,128,123);
    font-size:large;
}
